.container-1{
    width: 100vw;
    max-width:100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-sect-1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 800;
}
.video-1{
    width: 100vw;
    max-width:100%;
    height: 100vh;
    object-fit: fill;
}
.container-2{
    width: 100vw;
    max-width:100%;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-sect-2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 800;
}
.text-sect-3{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 22px;
}
.text-sect-3-bold{
    font-weight: 800;
}
.slide{
    background-color: #fff;
    width: 35vw;
    height: 80vh;
}
.slider-frame{
    overflow: hidden;
    height: 80vh;
    width: 35vw;
}
@-webkit-keyframes slide-animation{
    0%{left: 0;}
    10%{left: 0;}
    20%{left: 35vw;}
    30%{left: 35vw;}
    40%{left: 70vw;}
    50%{left: 70vw;}
    60%{left: 35vw;}
    70%{left: 35vw;}
    80%{left: 0;}
    90%{left: 0;}
    100%{left: 0;}
}
.slide-images{
    width: 105vw;
    height: 80vh;
    margin: 0 0 0 -70vw;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 23s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    height: 80vh;
    width: 35vw;
    position: relative;
    float: left;
}
span{
    display:block;
    width:100%;
    border-top: 1px solid #ccc;
    margin-bottom: 150px;
 }
 .margin-text{
     width: 30vw;
     height: 10vh;
     margin: 30px;
 }
 .margin-text-1{
     padding: 10px;
 }
 .footer{
    padding-top: 100px;
    position: relative;
    top: 200%;
    width: 100vw;
    max-width:100%;
    height: 415px;
    background-color: #4D4D4D;
    display: flex;
    justify-content: space-around;
}
.text-3{
    padding-bottom: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.text-4{
    font-size: 40px;
    font-weight: 800;
}
.text-5{
    font-weight: 800;
}
.text-pos{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
@media all and (max-width: 1400px){
    .video-1{
        height: 80vh;
    }
    .container-3{
        height: 80vh;
    }
    .slide{
        height: 70vh;
        position: relative;
        top: 7%;
    }
}

@media all and (max-width: 1024px){
    .name-white {
        font-size: 70px;
        line-height: 70px;
    }
    .description-white{
        font-size: 25px;
        line-height: 35px;
    }
    .price-white{
        line-height: 20px;
        font-size: 16px;
    }
    .btn-buy-white{
        width: 50px;
        height: 30px;
        font-size: 16px;
    }
    .more-info{
        font-size: 16px;
    }
    .text-sect-1 {
        font-size: 76px;
    }
    .video-1 {
        height: 70vh;
    }
    .slide {
        height: 50vh;
        top: 18%;
    }
    .container-3{
        height: 70vh;
    }
    .text-sect-3 {
        font-size: 16px;
    }
    .container-1 {
        height: 40vh;
    }
}
@media all and (max-width: 768px){
    .slide {
        height: 40vh;
        top: 25%;
    }
    .container-3{
        height: 60vh;
    }
    .video-1 {
        height: 60vh;
    }
    .name-white {
        font-size: 50px;
        line-height: 60px;
    }
    .description-white{
        font-size: 18px;
        line-height: 24px;
    }
    .price-white{
        line-height: 20px;
        font-size: 14px;
    }
    .btn-buy-white{
        width: 45px;
        height: 25px;
        font-size: 14px;
    }
    .more-info{
        font-size: 14px;
    }
    .footer{
        padding-top: 50px;
        height: 300px;
    }
    .text-sect-1 {
        font-size: 46px;
    }
    .container-1 {
        height: 40vh;
    }
    .text-sect-3 {
        font-size: 16px;
    }
    .slide {
        height: 35vh;
        top: 28%;
    }
    .container-3{
        height: 50vh;
    }
    .container-1 {
        height: 30vh;
    }
}
@media all and (max-width: 625px){
    .legal{
        display: none;
    }
    .new-buisines{
        display: none;
    }
    .video-1 {
        height: 50vh;
    }
    .text-sect-2 {
        font-size: 32px;
    }
    .container-1 {
        height: 30vh;
    }
    .container-2 {
        height: 20vh;
    }

}

@media all and (max-width: 420px){
    .video-1 {
        height: 35vh;
    }
    .text-sect-2 {
        font-size: 32px;
    }
    .container-1{
        height: 20vh;
    }
    .text-sect-1{
        font-size: 32px;
    }
    .text-sect-2{
        font-size: 32px;
    }
    .container-2{
        height: 15vh;
    }
    .child-3{
        display: none;
    }
    .child-1{
        display: none;
    }
    .space-cont{
        position: relative;
        bottom: 50px;
    }
    .slide {
        height: 30vh;
        top: 31%;
    }
    .container-3{
        height: 40vh;
    }
}


.about-wrapper-2 {
    width: 100vw;
    max-width: 100%;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-wrapper-1 {
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-wrapper-3 {
    width: 100vw;
    max-width:100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}