.container-1{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    padding: 50px;
}
.back-to-prev{
    border: none;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}
.cart-arrow{
    width: 22px;
    height: 37px;
}
.cart-arrow-text{
    padding-left: 10px;
    color: #2B463C;
    font-size: 28px;
}
.footer{
    padding-top: 100px;
    position: relative;
    top: 400%;
    width: 100vw;
    max-width:100%;
    height: 415px;
    background-color: #4D4D4D;
    display: flex;
    justify-content: space-around;
}
.text-3{
    padding-bottom: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.text-4{
    font-size: 40px;
    font-weight: 800;
}
.text-5{
    font-weight: 800;
}
.text-pos{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.proc-100-width{
    width: 100%;
    margin-top: 5%;
}
.sect-produse{
    width: 40vw;
    height: 60vh;
    max-height: 300vh;
    overflow-y: auto;
}
.sect-achit{
    background-color: #747474a6;
    width: 30vw;
    height: 60vh;
    border-radius: 20px;
}
.produse-and-achit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container-1 {
    background-image: linear-gradient(315deg, #974EC2 0%, #ffffff 74%);
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "proc-100-width proc-100-width"
      "produse-and-achit produse-and-achit"; 
  }
  .proc-100-width { grid-area: proc-100-width; }
  .produse-and-achit { grid-area: produse-and-achit; }
  /* .order-summary{
      width: 100%;
      height: 30vh;
      background-color: rgb(131, 36, 36);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
  } */
  .buy-menu-sect{
      height: 50%;
      text-align: center;
  }
.buy-menu-sect-1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
  .buy-menu-text{
      color: white;
      font-size: 24px;
      font-family: 'Inter', sans-serif;
      width: 100%;
  }
  .sub-total{
      display: flex;
      width: 100%;
  }
  .delivery{
    display: flex;
    width: 100%;
}
.total{
    display: flex;
    width: 100%;
}
.buy-menu-sect-2{
    border-top: solid 1px #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.btn-checkout-black{
    padding: 20px 30px 20px 30px;
    border: none;
    background-color: #000;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    transition: all 250ms linear;
    cursor: pointer;
}
.order-summary{
    padding-top: 50px;
}
.btn-checkout-black:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.produs-cart{
    border: solid 1px #4D4D4D;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.prod-cart-image{
    width: 120px;
    height: auto;
}
.prod-cart-trash{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn-plus-minus{
    width: 150px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #4D4D4D;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-plus-minus  p{
    color: #000;
    font-size: 22px;
}
.minus,.plus{
    cursor: pointer;
}
.prod-cart-text{
    color: #000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

@media all and (max-width: 800px){
    .back-to-prev{
        display: none;
    }
    .container-1{
        padding: 0;
    }
    .produse-and-achit{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        height: 100vh;
    }
    .container-1{
        height: 120vh;
    }
    .sect-achit{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: 30vh;
        align-items: center;
    }
    .buy-menu-sect-2{
        border: none;
    }
    .sect-produse{
        width: 90%;
    }
    .order-summary{
        padding: 0;
    }
}
@media all and (max-width: 600px){
    .buy-menu-text{
        font-size: 18px;
    }
    .btn-checkout-black{
        padding: 10px 20px;
    }
}
@media all and (max-width: 400px){
    .buy-menu-text{
        font-size: 14px;
    }
    .btn-checkout-black{
        padding: 5px 10px;
    }
    .sect-achit{
        height: 20vh;
    }

}