.footer{
    padding-top: 100px;
    position: relative;
    width: 100vw;
    max-width:100%;
    height: 415px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.text-3{
    padding-bottom: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: ease all .5s;
}
.white-link-footer{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: ease all .5s;
}
.text-4{
    font-size: 40px;
    font-weight: 800;
}
.text-5{
    font-weight: 800;
}
.text-pos{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

@media all and (max-width: 1024px){
    .footer{
        padding-top: 75px;
        height: 300px;
    }
    .text-4{
        font-size: 34px;
    }
}
@media all and (max-width: 768px){
    .text-3{
        padding-bottom: 10px;
        font-size: 12px;
    }
    .white-link-footer{
        font-size: 12px;
        line-height: 19px;
    }
    .footer{
        padding-top: 50px;
        height: 300px;
    }
    .text-4{
        font-size: 34px;
    }
}
@media all and (max-width: 625px){
    .legal{
        display: none;
    }
    .new-buisines{
        display: none;
    }
    .text-4{
        font-size: 24px;
    }
}
