.huawei-p50-pocket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.huawei-p50-pocket img  {
    width: 50%;
}

.huawei-p50-pocket .description-wrapper {
    width: 600px;
    text-align: center;
    z-index: 1;
}

.huawei-p50-pocket .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: black;
    transition: all 250ms linear;

}

.huawei-p50-pocket .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: black;
    transition: all 250ms linear;
}

.huawei-p50-pocket .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: black;
    transition: all 250ms linear;
}

.huawei-nova9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    flex-direction: row-reverse;
}

.huawei-nova9 img {
    width: 30%;
}

.huawei-nova9 .description-wrapper {
    text-align: center;
    width: 450px;
    z-index: 1;
}

.huawei-nova9 .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: white;
    transition: all 250ms linear;

}

.huawei-nova9 .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: white;
    transition: all 250ms linear;
}

.huawei-nova9 .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: white;
    transition: all 250ms linear;
}

.huawei-p30-pro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.huawei-p30-pro img {
    width: 45%;
    align-self: flex-end;
}

.huawei-p30-pro .description-wrapper {
    text-align: center;
    width: 600px;
    z-index: 1;
}

.huawei-p30-pro .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: black;
    transition: all 250ms linear;

}

.huawei-p30-pro .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: black;
    transition: all 250ms linear;
}

.huawei-p30-pro .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: black;
    transition: all 250ms linear;
}