.ipad-air-description-wrapper {
    padding-top: 200px;
}

.ipad-pro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.ipad-pro img {
    width: 90vh;
}

.ipad-pro .description-wrapper {
    width: 470px;
    text-align: center;
}

.ipad-pro .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: black;
    transition: all 250ms linear;

}

.ipad-pro .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: black;
    transition: all 250ms linear;
}

.ipad-pro .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: black;
    transition: all 250ms linear;
}

.ipad-wrapper-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.ipad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.ipad img {
    width: 90vh;
}

.ipad .description-wrapper {
    width: 400px;
    text-align: center;
}

.ipad .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: white;
    transition: all 250ms linear;

}

.ipad .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: white;
    transition: all 250ms linear;
}

.ipad .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: white;
    transition: all 250ms linear;
}

.ipad-mini {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../../assets/media/iPadMini.jpg);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.ipad-mini img {
    display: none;
}

.ipad-mini .description-wrapper {
    position: relative;
    left: 20vw;
    text-align: center;
    width: 450px;
    z-index: 1;
}

.ipad-mini .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: black;
    transition: all 250ms linear;

}

.ipad-mini .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: black;
    transition: all 250ms linear;
}

.ipad-mini .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: black;
    transition: all 250ms linear;
}