@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: overlay;
}
/* navbar */
.logo {
    width: 30px;
    height: auto;
    display: block; /* remove inline baseline gaps */
}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
	transition: all 300ms ease-in-out;
}
.black-link-dropdown{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 800;
    text-align: center;
}
.white-link-navbar{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
}
.white-link-footer{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.ul > a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ul > a > img.logo {
    display: block;
    margin: 0;
    align-self: center;
}
.Profile{
    position: absolute;
    right: 19px;
    top: 8px;
}
.size35{
    width: 25px;
    height: 25px;
}
.Search{
    width: 20px;
    height: 20px;
}
.Cart{
    width: 26px;
    height: 20px;
}
::-webkit-scrollbar{
    background: transparent;
    width: 6px;
    transition: 2s;
}
::-webkit-scrollbar-thumb{
    background: rgb(107, 107, 107);
    border-radius: 6px;
}
::-webkit-scrollbar:active{
    background: transparent;
    width: 12px;
}

.nav-btn{
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
}
.dropdown-menu{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 15vh;
    top: calc(100% + .25rem);
    background-color: rgba(255, 255, 255, 0.952);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    display: flex;
    justify-content: space-around;
    align-content: center;
    pointer-events: none;
}
.dropdown:focus-within .dropdown-menu   {
    transform: translateY(-5px);
    opacity: 1;
    pointer-events: auto;
}
.flex-div {
    display: flex;
}
.flex-div-1{
    margin: 5vh;
}
.linked{
    position: relative;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.linked:hover{
    color: rgb(140, 49, 175);
}
.linked:after{
    content: "";
    position: absolute;
    background-color: rgb(140, 49, 175);
    border-radius: 2px;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.linked:hover:after{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}

/*sDF*/
.name-white{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: white;
    transition: all 250ms linear;
}
.description-white{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: white;
    transition: all 250ms linear;
}
.price-white{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: white;
    transition: all 250ms linear;
}
.btn-buy-white{
    border: none;
    width: 3vw;
    height: 2vw;
    background-color: #2F71DC;
    border-radius: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 24px;
    color: white;
    cursor: pointer;
    transition: all 250ms linear;
}
.more-info{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #2F71DC;
    font-size: 1vw;
    line-height: 24px;
    text-decoration: none;
    transition: all 250ms linear;
}
.buy-learnmore{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 250ms linear;
}
.black{
    color: black !important;
}
.black-container{
    background-color: rgb(0, 0, 0) !important;
}
body{
    overflow-x: hidden;
}
/*sad*/
@media all and (max-width: 1400px){
    .name-white {
        font-size: 65px;
        line-height: 4rem;
    }
    .description-white{
        font-size: 25px;
        line-height: 35px;
    }
    .price-white{
        line-height: 20px;
        font-size: 16px;
    }
    .btn-buy-white{
        width: 50px;
        height: 30px;
        font-size: 16px;
    }
    .more-info{
        font-size: 16px;
    }
}
@media all and (max-width: 1024px){
    .footer{
        padding-top: 75px;
        height: 300px;
    }
    .name-white {
        font-size: 55px;
        line-height: 55px;
    }
    .description-white{
        font-size: 25px;
        line-height: 35px;
    }
    .price-white{
        line-height: 20px;
        font-size: 16px;
    }
    .btn-buy-white{
        width: 50px;
        height: 30px;
        font-size: 16px;
    }
    .more-info{
        font-size: 16px;
    }
}
@media all and (max-width: 768px){
    .text-3{
        padding-bottom: 10px;
        font-size: 12px;
    }
    .white-link-footer{
        font-size: 12px;
        line-height: 19px;
    }
    .footer{
        padding-top: 50px;
        height: 300px;
    }
    .text-4{
        font-size: 34px !important;
    }
    .name-white {
        font-size: 50px;
        line-height: 60px;
    }
    .description-white{
        font-size: 18px;
        line-height: 24px;
    }
    .price-white{
        line-height: 20px;
        font-size: 14px;
    }
    .btn-buy-white{
        width: 45px;
        height: 25px;
        font-size: 14px;
    }
    .more-info{
        font-size: 14px;
    }
}
@media all and (max-width: 625px){
    .legal{
        display: none;
    }
    .new-buisines{
        display: none;
    }
    .text-4{
        font-size: 24px !important;
    }
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 50px;
    background: #ffffff;
    border-radius: 20px;
}
.search-box:hover > .search-btn{
   background: rgb(0, 0, 0);
     }
.search-btn{
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 font-family: 'Inter', sans-serif;
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: rgb(0, 0, 0);
 font-size: 14px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
 margin: 0;
}
@media all and (max-width: 450px){
    .footer div:first-child{
        display: none;
    }
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    border-radius: 1px; 
    transition: all 0.3s ease;
}
.burger{
    display: none;
    cursor: pointer;
}
.procent{
    display: none;
}
.logo-2{
    display: none;
}
@media screen and (max-width: 760px){
    .dispar-after{
        display: none;
    }
    .dropdown{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    /* .dropdown > *{
        margin-top: 10px;
        margin-bottom: 10px;
    } */
    .dropdown-menu{
        display: flex;
        justify-content: space-around;
    }
    body{
        overflow-x: hidden;
    }
    .ul{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 65px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        gap: 10px;
    }
    .nav-bar{
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 9999;
        transition: all 300ms ease-in-out;
    }
    .linked,.logo,.Cart,.search-box,.size35{
        font-size: 18px;
        line-height: 30px;
    }
    .burger{
        display: block;
    }
    .dropdown-menu{
        display: none;
    }
    .procent{
        display: block;
        margin: 5px 20%;
        line-height: 30px;
    }
    .linkuri-nav{
        opacity: 0;
    }
    .logo-nav{
        display: block; /* keep the logo inside the .ul so it moves with the menu */
    }
    .logo-2{
        display: none;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-4px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-6px);
}
