.galaxy-tab-s8-ultra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.galaxy-tab-s8-ultra img {
    width: 50%;
    align-self: flex-end;
}

.galaxy-tab-s8-ultra .description-wrapper {
    width: 650px;
    text-align: center;
    z-index: 1;
}

.galaxy-tab-s8-ultra .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: white;
    transition: all 250ms linear;
    text-align: center;
}

.galaxy-tab-s8-ultra .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: white;
    text-align: center;
    transition: all 250ms linear;
}

.galaxy-tab-s8-ultra .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: white;
    text-align: center;
    transition: all 250ms linear;
}

.galaxy-tab-a7-lite {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    flex-direction: row-reverse;
    height: 100vh;
}

.galaxy-tab-a7-lite img {
    width: 40%;
    align-self: flex-end;
}

.galaxy-tab-a7-lite .description-wrapper {
    width: 650px;
    text-align: center;
    z-index: 1;
}

.galaxy-tab-a7-lite .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: black;
    transition: all 250ms linear;
    text-align: center;
}

.galaxy-tab-a7-lite .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: black;
    text-align: center;
    transition: all 250ms linear;
}

.galaxy-tab-a7-lite .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: black;
    text-align: center;
    transition: all 250ms linear;
}

.galaxy-tab-s6-lite {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.galaxy-tab-s6-lite img {
    width: 50%;
}

.galaxy-tab-s6-lite img {
    text-align: center;
    width: 650px;
    z-index: 1;
}

.galaxy-tab-s6-lite .description-wrapper > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    line-height: 6rem;
    color: white;
    transition: all 250ms linear;
    text-align: center;
}

.galaxy-tab-s6-lite  .description-wrapper > p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 44px;
    color: white;
    text-align: center;
    transition: all 250ms linear;
}

.galaxy-tab-s6-lite .description-wrapper > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 29px;
    color: white;
    text-align: center;
    transition: all 250ms linear;
}
