.container-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}
.supraface{
    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px 10px 20px;
    z-index: 2;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.supraface:hover{
    box-shadow: 0 2px 5px 0 rgb(255, 255, 255);
    background-color: rgb(226, 226, 226);
}
.size-ipads{
    width: 150px;
    height: 130px;
}
.size-ipads-mini{
    width: 130px;
    height: 120px;
}
.ipads{
    gap: 10px;
    padding: 0 400px 0 400px;
    position: absolute;
    top: 137px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nameiPad{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: black;
    line-height: 24px;
    font-size: 20px;
}
.name-white{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
    color: white;
}
.description-white{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: white;
}
.price-white{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.btn-buy-white{
    border: none;
    width: 70px;
    height: 40px;
    background-color: #2F71DC;
    border-radius: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}
.more-info{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #2F71DC;
    font-size: 20px;
    line-height: 24px;
    border: none;
    background: none;
    outline: none;
    color: pointer;
    cursor: pointer;
}
.iPadAir{
    text-align: center;
    z-index: 1;
}
.buy-learnmore{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iPadAir-Image{
    object-fit: cover;
    height: 90%;
}
.container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}
.black{
    color: black;
}
.iPadPro{
    text-align: center;
    width: 400px;
    /* height: 296px; */
    z-index: 1;
}
.iPadPro-Image{
    width: 90vh;
}
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    /* background-color: black; */
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}
.iPad{
    text-align: center;
    width: 400px;
    /* height: 296px; */
    z-index: 1;
}
.iPad-Image{
    height: 90vh;
}
.container-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../assets/iPadMini.jpg);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}
.iPadMini{
    position: relative;
    left: 20vw;
    text-align: center;
    width: 450px;
    /* height: 296px; */
    z-index: 1;
}
.footer{
    padding-top: 100px;
    position: relative;
    width: 100vw;
    max-width:100%;
    height: 415px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.text-3{
    padding-bottom: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.text-4{
    font-size: 40px;
    font-weight: 800;
}
.text-5{
    font-weight: 800;
}
.text-pos{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.IpadAirAnsolute{
    padding-top: 200px;
}
@media all and (max-width: 1024px){
    .footer{
        padding-top: 75px;
        height: 300px;
    }
    .name-white {
        font-size: 70px;
        line-height: 50px;
    }
    .description-white{
        font-size: 25px;
        line-height: 35px;
    }
    .price-white{
        line-height: 20px;
        font-size: 16px;
    }
    .btn-buy-white{
        width: 50px;
        height: 30px;
        font-size: 16px;
    }
    .more-info{
        font-size: 16px;
    }
}
@media all and (max-width: 768px){
    .text-3{
        padding-bottom: 10px;
        font-size: 12px;
    }
    .white-link-footer{
        font-size: 12px;
        line-height: 19px;
    }
    .footer{
        padding-top: 50px;
        height: 300px;
    }
    .text-4{
        font-size: 34px;
    }
    .name-white {
        font-size: 50px;
        line-height: 60px;
    }
    .description-white{
        font-size: 18px;
        line-height: 24px;
    }
    .price-white{
        line-height: 20px;
        font-size: 14px;
    }
    .btn-buy-white{
        width: 45px;
        height: 25px;
        font-size: 14px;
    }
    .more-info{
        font-size: 14px;
    }
}
@media all and (max-width: 625px){
    .legal{
        display: none;
    }
    .new-buisines{
        display: none;
    }
    .text-4{
        font-size: 24px;
    }
}
@media all and (max-width: 1111px){
    .iPadAir-Image {
        object-fit: cover;
        width: 50%;
        height: auto;
    }
    .iPadPro-Image {
        width: 60vw;
    }
    .iPad-Image {
        width: 40vw;
        height: auto;
    }
    .container-3 {
        grid-template-columns: 1fr;
    }
    .container-2 {
        flex-wrap: wrap;
    }
    .iPadMini {
        left: 0;
    }
    .ipads{
        padding: 0 100px 0 100px;
    }
}
@media all and (max-width: 800px){
    .ipads{
        padding: 0;
    }
    .supraface {
        width: 110px;
        height: 150px;
        padding: 20px 20px 10px 20px;
    }
    .size-ipads {
        width: 50px;
        height: auto;
        
    }
    .size-ipads-mini {
        width: 40px;
        height: auto;
    }
    .nameiPad {
        font-size: 16px;
    }
}
@media all and (max-width: 600px){
    .container-2 {
        height: 80vh;
    }
}
@media all and (max-width: 800px){
    .container-3 {
        height: 80vh;
    }
    .iPad {
        height: 200px;
    }
    .iPadPro {
        height: 200px;
    }
}
@media all and (max-width: 768px){
    .container-1 {
        height: 80vh;
    }
    .container-4 {
        height: 80vh;
    }
    .iPadMini {
        left: 0;
        width: 450px;
    }
    .iPadMini p {
        color: rgb(255, 255, 255);
    }
}
@media all and (max-width: 470px){
    .ipads{
        display: none;
    }
    .container-1 {
        height: 60vh;
    }
    .iPad {
        width: auto;
    }
    .container-1,.container-2,.container-3,.container-4{
        height: 60vh;
    }
}

@media all and (max-width: 850px){
    .container-1,.container-2,.container-3,.container-4{
        height: 75vh;
    }
}
@media all and (max-width: 420px){
    .container-1,.container-2,.container-3,.container-4{
        height: 60vh;
    }
}