.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
	transition: all 300ms ease-in-out;
}
.ul{
    background-color: rgb(0, 0, 0);
}
.black-link-dropdown{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 800;
    text-align: center;
}

.img-sup{
    width: 100vw;
    max-width:100%;
    height: 75vh;
}
.text-cont-1{
    position: absolute;
    top: 30%;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 110px;
    font-weight: 800;
}
.container-2{
    background-color: rgb(231, 231, 231);
    /* background-image: linear-gradient(90deg, rgba(209,58,58,0.5522584033613445) 0%, rgba(214,163,50,0.5326505602240896) 63%, rgba(255,231,0,0.26934523809523814) 100%); */
    z-index: 0;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mini-container-1{
    width: 80vw;
    max-width:100%;
    height: 80vh;
    /* border-radius: 100px; */
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{
    padding-top: 100px;
    position: relative;
    top: 200%;
    width: 100vw;
    max-width:100%;
    height: 415px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.text-3{
    padding-bottom: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.text-4{
    font-size: 40px;
    font-weight: 800;
}
.text-5{
    font-weight: 800;
}
.text-pos{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
/* input[type=text], select,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  } */
  
.formular-cauza{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

  input[type=submit] {
    width: 70%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #313131;
  }
.in-form{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }
.form-text{
     color: #000000;
     font-family: 'Inter', sans-serif;
     font-size: 16px;
     line-height: 19px;
     font-weight: 800;
 }
.wrap-1{
     width: 30%;
 }
.wrap-2{
    width: 60%;
}
#map {
    height: 50vh;
    width: 40vw;
    border-radius: 20px;
}
@media all and (max-width: 1024px){
    .footer{
        padding-top: 75px;
        height: 300px;
    }
}
@media all and (max-width: 1000px){
    .img-sup,.container-1{
        height: 50vh;
    }
    .text-cont-1{
        top: 20%;
        font-size: 72px;
    }
    .mini-container-1{
        border-radius: 30px;
    }
    @media all and (max-width: 768px){
        .text-3{
            padding-bottom: 10px;
            font-size: 12px;
        }
        .white-link-footer{
            font-size: 12px;
            line-height: 19px;
        }
        .footer{
            padding-top: 50px;
            height: 300px;
        }
        .text-4{
            font-size: 34px;
        }
    }
    @media all and (max-width: 625px){
        .legal{
            display: none;
        }
        .new-buisines{
            display: none;
        }
        .text-4{
            font-size: 24px;
        }
    }
    
}
@media all and (max-width: 600px){
    .img-sup,.container-1{
        height: 38vh;
    }
    .text-cont-1{
        top: 17%;
        font-size: 52px;
    }
    #map{
        display: none;
    }
    .wrap-1{width: 80%;}
}
@media all and (max-width: 450px){
    .mini-container-1{
        height: 70vh;
        border-radius: 10px;
    }
    .container-2{
        height: 80vh;
    }
}
@media all and (max-width: 400px){
    .mini-container-1{
        height: 90vh;
        border-radius: 10px;
    }
}

.support-wrapper-1{
    z-index: 0;
    width: 100vw;
    max-width:100%;
    height: 75vh;
    display: flex;
    justify-content: center;
}